body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-container {
    width: 100%;
    height: 100%;
}

.answer-container,
.submit-button {
    margin-top: 20px;
}

